/* Basic styling */

.menu {
   list-style-type: none;
   display: flex;
   align-items: center;

}

.item {
   padding: 10px;
   width: auto;
   text-align: center;
}

.logo {
   font-size: 20px;
   flex: 1;
   padding: 7.5px 10px 7.5px 0;
}


.menu li a {
   display: block;
   padding: 15px 5px;
}





























nav {
   background: #222;
}

a {
   color: white;
   text-decoration: none;
}

* {
   padding: 0;
   margin: 0;
}