/* Basic styling */
* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

nav {
   background: #222;
   padding: 0 15px;
}

a {
   color: white;
   text-decoration: none;
}

.menu {   
   list-style-type: none;
}
.logo {
   font-size: 20px;
   /* padding: 7.5px 10px 7.5px 0; */
}
.item {
   padding: 10px;
}


/* Mobile menu */
.menu {
   display: flex;
   /* flex-wrap: wrap; */
   /* justify-content: space-between; */
   align-items: center;
}
.menu li a {
   display: block;
   padding: 15px 5px;
}

.item {
   /* order: 3; */
   width: 100%;
   text-align: center;
   /* display: none; */
}
.active .item {
   display: block;
}



/* Tablet menu */
@media all and (min-width: 700px) {
   .logo {
      flex: 1;
   }
  
}

/* Desktop menu */
@media all and (min-width: 960px) {
   .item {
       /* order: 1; */
       /* position: relative; */
       /* display: block;  */
       width: auto;
   }
}


