/* Basic styling */

.menu {
   list-style-type: none;
   display: flex;
   align-items: center;
   overflow: hidden;
   height: 90px;
   padding: 0;
   margin: 0;
}
ul {
   margin: 0%;
   padding: 0%;
}
li {
   margin: 0%;
   padding: 0;
}
.item {
   font-size: 20px;
   padding: 10px;
   width: auto;
   margin-left: 20%;
   margin-right: 10%;
   text-align: center;

}

.logo {

   /* height: 90px; */
   font-size: 20px;
   flex: 1;

   padding: 25px 25px 25px 0;
   /* padding-top: 100%; */
   background-color: green;
   border-bottom-right-radius: 50px;
   border-top-right-radius: 50px;

}


.menu li a {
   display: block;
   padding: 15px 5px;
}

 
.up{
   border-bottom: 1px solid white;
   color: white;
   text-align: center;
 }
 
 .down{ 
   color: white;
   font-weight: bold;
   text-align: center;
 }
 
nav {
   background: #222;
}

a {
   color: white;
   text-decoration: none;
}

* {
   padding: 0;
   margin: 0;
}