
body {
   margin: 0;
}
nav {
   background-color: black;
   position: sticky;
   top: 0;
   overflow: hidden;
   display: flex;
}

nav a.left-one {
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
}

nav a.right-one {
   direction: rtl;
}

.nav2 {
   overflow: hidden;
   display: flex;
   /* justify-content: space-between; */
   background-color: chartreuse;
}

.child2{
   margin-right: 10px;
}

.nav3 {
   /* overflow: hidden; */
   width: 100%;
   display: flex;
   justify-content: space-between;
   background-color: blue;
   
}

.child3{
   font-size: 22px;
   margin-right: 10px;
}
  

.nav4 {
   overflow: hidden;
   width: 100%;
   display: flex;
   background-color: chocolate;
 }
 
 .child4:first-child {
   margin-right: auto;
 }
 
 .child4 {
   margin: 5px;
 }