body {
   margin:0;
}

ul {
   margin: 0;
   text-decoration: none;
}

li {
   text-decoration: none;
   list-style-type: none;

}

nav {
   background-color: lawngreen;
}

.navbar {
   display: flex;
   justify-content: space-between;
}

.item {
   padding: 20px;

   /* align-content: center; */
   align-items: center;
   display: flex;
   background-color: khaki;
}

#i1 {
order : 1
}
#i2 {
   order: 1;
}
#i3 {
   order: 1;
   font-size: 50px;
}
#i4 {
   order: 2;
}
#i5 {
   order: 1;
}
