.heart {
   background-color: aqua;
	width: 36px;
	height: 36px;
	position: relative;
	margin: 1em auto;
	transform-origin: 50% 50%;
    transform: rotate(45deg) scale(1);
 }

.heart:before {
		content: "";
		position: absolute;
		display: block;
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
		background-color: tomato;
		width: inherit;
		height: 24px;
		top: 12px;
		left: 0;
	}
.heart:after {
		content: "";
		position: absolute;
		display: block;
		background-color: tomato;
		width: 24px;
		top: 0;
		left: 12px;
		height: inherit;
		border-top-left-radius: 12px;
		border-top-right-radius: 12px;
}




.heart2 {
   background-color: aqua;
	width: 36px;
	height: 36px;
	position: relative;
	margin: 1em auto;
	transform-origin: 50% 50%;
    transform: rotate(45deg) scale(1);
 }

.heart2:before {
		content: "";
		position: absolute;
		display: block;
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
		background-color: tomato;
		width: inherit;
		height: 24px;
		top: 12px;
		left: 0;
   }
   

.heart3 {
      background-color: aqua;
      width: 36px;
      height: 36px;
      position: relative;
      margin: 1em auto;
      transform-origin: 50% 50%;
       transform: rotate(45deg) scale(1);
}
.heart3:after {
		content: "";
		position: absolute;
		display: block;
		background-color: tomato;
		width: 24px;
		top: 0;
		left: 12px;
		height: inherit;
		border-top-left-radius: 12px;
		border-top-right-radius: 12px;
}



.heart4 {
   /* padding-top: 30px; */
   background-color: aqua;
   width: 100px;
   height: 100px;
   position: relative;
   margin: 5em auto;
   transform-origin: 50% 50%;
    transform: rotate(45deg) scale(1);
}


.heart4:before {
   content: "";
   position: absolute;
   display: block;
   border: 1px solid green;
   border-top-left-radius: 50px;
   border-bottom-left-radius: 50px;
   background-color: tomato;
   width: inherit;
   height: 60px;
   top: 42px;
   left: 0;
}

.heart4:after {
   border: 1px solid green;

   content: "";
   position: absolute;
   display: block;
   background-color: tomato;
   width: 60px;
   top: 0;
   left: 40px;
   height: inherit;
   border-top-left-radius: 50px;
   border-top-right-radius: 50px;
}


.heart5 {
   position: relative;
   width: 100px;
   height: 90px;
 }
 .heart5:before,
 .heart5:after {
   position: absolute;
   content: "";
   left: 50px;
   top: 0;
   width: 50px;
   height: 80px;
   background: red;
   border-radius: 50px 50px 0 0;
   border: 1px solid green;
   transform: rotate(-45deg);
   transform-origin: 0 100%;
 }
 .heart5:after {
   left: 0;
   transform: rotate(45deg);
   transform-origin: 100% 100%;
 }