.bf {
   width: 60%;
   border: 2px solid green;
}

.bf:before{
content: 'Hi boys This is the effect of "before" selector ';
background-color: lightcoral;
bottom: 100%;
border: 1px solid purple;
}

.bf::after{
   content: 'Hi boys This is the effect of "after" selector ';
   /* width: 100%; */
   background-color: aqua;
   border: 1px solid purple;

}