.parent {
   background-color: aqua;
   width: 300px;
   margin-right: auto;
   margin-left: auto;
   margin-top: 50px;
   height: 300px;
   border-radius: 50%;
   position: relative;
}

.child1{
   background-color: yellow;
   width: 50px;
   margin: auto;
   height: 50px;
   border-radius: 50%;
   right: 50px;
   position: absolute;
   /* z-index: -100000; */

}

.child2{
   background-color: yellow;
   width: 50px;
   margin: auto;
   height: 50px;
   border-radius: 50%;
   left: 50px;
   position: absolute;
   /* z-index: -100000; */

}

.child3{
   background-color: yellow;
   width: 50px;
   margin: auto;
   height: 50px;
   border-radius: 50%;
   top: 50px;
   
   position: absolute;
   /* z-index: -100000; */

}

.child4{
   background-color: yellow;
   width: 50px;
   margin: auto;
   height: 50px;
   border-radius: 50%;
   bottom: 50px;
   
   position: absolute;
   /* z-index: -100000; */

}

.child5{
   background-color: yellow;
   width: 50px;
   margin: auto;
   height: 50px;
   border-radius: 50%;
   bottom: 50px;
   right: 0;
   position: absolute;
   /* z-index: -100000; */

}
