html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.content {
  padding-bottom: 100px;
  /* Height of the footer element */
}

.footer {
  background: #ffab62;
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  /* left: 0; */
}

.content p
{
  padding:10px;
  background:#222937;
  color:#eee;
}