.position-absolute{
   position: absolute;
   border: 2px solid green;
   margin-bottom: 5%;
}

.position-static{
   position: static;
   border: 2px solid green;
   margin-bottom: 5%;

}

.position-fixed{
   position: fixed;
   border: 2px solid green;
   margin-bottom: 5%;

}

.position-relative{
   position: relative;
   border: 2px solid green;
   margin-bottom: 5%;

}

.position-sticky{
   position: sticky;
   border: 2px solid green;
   margin-bottom: 5%;

}
.position-inherit{
   position: inherit;
   border: 2px solid green;
   margin-bottom: 5%;

}

.position-initial{
   position: initial;
   border: 2px solid green;
   margin-bottom: 5%;

}
