.first {
   text-align: center;
   width: 100px;
   height: 100px;
   background-color: aqua;
   border: 1px solid white;
   transition-duration: 2s;
   transition-duration: 5s;

}

.first:hover {
   text-align: right;
   /* background-color: green; */
   width: 100px;

   border-radius: 50%;

}

