body {
   background-image: url("../linux.png");
   background-repeat: no-repeat;
   background-position: right top;
   margin-right: 200px;
   background-attachment: fixed;
 }

 h1 {
    color: green;
 }

 h2 {
    color : blue;
 }
 
 h3 {
    color: blueviolet;
 }