.container {
   display: flex;
   align-items: center;
}

.first {
   width: 300px;
   height: 300px;
   background: repeating-linear-gradient(red, orange 50px);
   clip-path: polygon(50% 0%, 60% 40%, 100% 50%, 60% 60%, 50% 100%, 40% 60%, 0% 50%, 40% 40%);
   animation: 4s poly infinite alternate ease-in-out;
   margin: 10px auto;
 }
 
 .second { 
   width: 300px;
   height: 300px;
   background-color: aqua;
   clip-path: polygon(50% 0%, 60% 40%, 100% 50%, 60% 60%, 50% 100%, 40% 60%, 0% 50%, 40% 40%);
 }

 .third { 
   width: 300px;
   height: 300px;
   background-color: lightgreen;
   clip-path: polygon(50% 30%, 100% 0%, 70% 50%, 100% 100%, 50% 70%, 0% 100%, 30% 50%, 0% 0%);

}



.fourth {
   /* shape-outside: polygon(0 , 0 300px, 200px 300px); */
   clip-path: polygon(0 0, 100 0, 100px 100px, 0px 100px);
   height: 300px;
   width: 300px;
   background: linear-gradient(to top right, #86F7CC, #67D7F5);
 }

 @keyframes poly {
   from {
     clip-path: polygon(50% 0%, 60% 40%, 100% 50%, 60% 60%, 50% 100%, 40% 60%, 0% 50%, 40% 40%);
   }
 
   to {
     clip-path: polygon(50% 30%, 100% 0%, 70% 50%, 100% 100%, 50% 70%, 0% 100%, 30% 50%, 0% 0%);
   }
 }