.parent {
   overflow: hidden; /* required */
   width: 50%; /* for demo only */
   height: 250px /* some non-zero number */;
   margin: 25px auto; /* for demo only */
   border:1px solid grey; /* for demo only */
   position: relative; /* required  for demo*/
 }
 
 .ribbon {
   margin: 0;
   padding: 0;
   background: rebeccapurple;
   color:white;
   padding:1em 0;
   position: absolute;
   top:0;
   right:0;
   transform: translateX(30%) translateY(0%) rotate(45deg);
   transform-origin: top left;
 }


 .ribbon:before,
 .ribbon:after {
   content: '';
   position: absolute;
   top:0;
   margin: 0 -1px; /* tweak */
   width: 100%;
   height: 100%;
   background: rebeccapurple;
 }
 .ribbon:before {
   right:100%;
 }
 
 .ribbon:after {
   left:100%;
 }




 .parent2 {
  overflow: hidden;
  width: 50%; /* for demo only */
  height: 250px /* some non-zero number */;
  margin: 25px auto;

  border:1px solid blue; /* for demo only */
  position: relative;
}

 .ribbon2 {
  margin: 0;
  background: rebeccapurple;
  color:white;
  padding:1em 0;
  position: absolute;
  top:0;
  right:0;

  

  transform: translateX(30%) translateY(0%) rotate(45deg);
  transform-origin: top left;

}
 .ribbon2:before {
   content: '';
   position: absolute;
   top:0;
   margin: 4px 4px; 
   width: 50%;
   right: 100%;
   height: 100%;
   background: rebeccapurple;
 }

 .ribbon2:after {
  content: '';
  position: absolute;
  top:0;
  margin: 4px 4px; 
  width: 50%;
  height: 100%;
  background: rebeccapurple;
}

/* start ribbon 3 */
.parent3 {
  overflow: hidden;
  width: 70%; /* for demo only */
  height: 350px /* some non-zero number */;
  margin: 25px auto;

  border:1px solid blue; /* for demo only */
  position: relative;
}

 .ribbon3 {
  margin: 0;
  background: yellow;
  color:white;
  padding:1em 0;
  position: absolute;
  top:0;
  left:0;

  

  transform: translateX(-30%) translateY(0%) rotate(-45deg);
  transform-origin: top right; 

}
 .ribbon3:before {
   content: '';
   position: absolute;
   top:0;
   margin: 0px 1px; 
   width: 50%;
   right: 100%;
   height: 100%;
   background: yellow;
 }

 .ribbon3:after {
  content: '';
  position: absolute;
  top:0;
  margin: 0px 1px; 
  width: 50%;
  height: 100%;
  background: yellow;
}



 .ribbon-upper-left {
   margin: 0;
   padding: 0;
   background: rebeccapurple;
   color:white;
   padding:1em 0;
   position: absolute;
   top:0;
   /* left:0; */
   /* transform: translateX(200%) translateY(365%) rotate(90deg); */
   transform: translateX(100%) rotate(-45deg);
   -ms-transform: rotate(-45deg); /* IE 9 */

   /* transform-origin: top left; */
 }
 
 .ribbon-upper-left:before,
 .ribbon-upper-left:after {
   content: '';
   position: absolute;
   top:0;
   margin: 0 -1px; /* tweak */
   width: 100%;
   height: 100%;
   background: rebeccapurple;
 }
 .ribbon-upper-left:before {
   left:100%;
 }
 
 .ribbon-upper-left:after {
   right:100%;
 }



 .my-ribbon{
   color: red; 
   background-color: aqua;
   text-align: center;
   width: 20%;
   transform: translateX(-25%) rotate(-45deg);
}